*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orang{
    color: #FD6E0A;
}
.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
      
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.button{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: #FD6E0A 1px solid;
}
.section-heading{
    text-align: center;
    max-width: 827px;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}
#banner {
    /* border: 1px solid rgba(202, 64, 99, 0.533); */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
.banner-content h1{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
    font-weight: 700;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    font-size: 400;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about ,#skill , #resume{
    padding-top: 130px;
}
#about .section-content {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    /* justify-content: space-between; */
    background-color: #FFF8F3;
    padding: 131px 156px;

}

#about .section-content .about-info {
    display: flex;
    justify-content: space-around;

}

.about-info .card-item p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .card-item h4 {
    font-size: 20px;
}
.skill-content {

     width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    /* justify-content: space-between; */
    /* background-color: #FFF8F3; */
    /* padding: 131px 156px; */
}
.skill-heading{
    text-align: center;
    /* max-width: 827px; */
}

.skill-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.skill-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    line-height: 30px;
    /* font-weight: 400; */
}
.skill-content-cards {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    background-color: #FFFFFF;
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
}
.skill-card {
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 30px;
    flex: 1;
    text-align: left;
    
}
.skill-card h3 {
    font-size: 20px;
    margin-bottom: 20px;
  
}
.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.skill-card img {
    padding-bottom: 30px;
}
#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card {
    max-height: 511px;
    margin-right: 47px;
}
.resume-card h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
    
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;   
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;   
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;   
}
.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}
.resume-container hr {
    margin: 30px 0;
}

 .center-center{
    text-align: center;
 }

 .center-center h2{
    font-size: 35px;
    margin-bottom: 113px;
    color: #181818;
 }